#background {background-color: #ffffff;	background-image: url("https://www.transparenttextures.com/patterns/cloth-alike.png");font-family: 'Roboto', sans-serif ;font-size: 120%;background-color: #fff;}


#logo {height: 80%;width: 100%; min-height: 80px;}


@media only screen and (min-width: 994px){.listappal { font-family: 'Roboto', sans-serif;font-size:80%;align-content: center;text-transform: uppercase;background: rgba(0,0,0,.3); margin-bottom: 2%;
	li{display: inline-block; text-align: center;padding-right: 10px;}
	ul {padding: 0 ;}
	a { text-decoration: none;
		&:hover {color:#AB964A}}
}}
@media only screen and (max-width: 993px){.listappal { font-family: 'Roboto', sans-serif;font-size:80%;align-content: center;text-transform: uppercase; margin-bottom: 2%;
	li{display: inline-block; text-align: center;padding-right: 10px;}
	ul {padding: 0 ;}
	a { text-decoration: none;
		&:hover {color:#AB964A}}}};

.active{color:#82680B;}


.vertical{display: flex;flex-direction: column;justify-content: space-between;max-width: 180px;
	img{padding-bottom: 5%;max-width: 150px;max-height: 150px;;&:hover{transform: scale(1.2);}}
}


#quehacemos {padding: 1%;}


.novedades{padding-top: 10%;padding-bottom: 5%;;
	p{ font-weight: 300;}
	.nov{border-right: solid grey 2px}
}

/* footer y titulos*/

.footer{ font-size: 90%;font-weight:300;border-top: grey solid 2px;padding-top: 2%;grid-area: footer;background: rgba(0,0,0,.3); display: flex;flex-direction: row;justify-content: space-between;position:initial;left:0%;bottom:0%;right:0%;
	ul{list-style:none;}
	li{text-decoration: none;}
	li{padding-top: 2%}
}
.footer_pequeno {font-size: 90%;font-weight:300;border-top: grey solid 2px;padding-top: 2%;grid-area: footer; display: flex;flex-direction: column;justify-content: space-between;background: rgba(0,0,0,.3);
	ul{list-style:none;}
	li{text-decoration: none;}
	li{padding-top: 2%}
}
.footerfixed{ font-size: 90%;font-weight:300;border-top: grey solid 2px;padding-top: 2%;grid-area: footer;background: rgba(0,0,0,.3); display: flex;flex-direction: row;justify-content: space-between;position:fixed;left:0%;bottom:0%;right:0%;
	ul{list-style:none;}
	li{text-decoration: none;}
	li{padding-top: 2%}
}

@each $redes in fb, ig, whap,{##{$redes} img{max-width: 20px;max-height: 20px};
	
}
#ubi{max-width: 20px;max-height: 20px}

.tarjetas{max-height:4rem;max-width:10rem }


.titulospag { padding: 0PX 0PX 6% 0px;background-image: url("fondo titulos.jpg");background-size: cover;color: #fff;font-family: 'Courgette', cursive;font-size: 300%;background-repeat: repeat-x ;height: auto;}

.titulos{color: #82680B;
	h3{ padding: 2%;padding-top: 5%;text-align: center;}}
 

 /* pagina pquienes somos*/
 .quienes {display: grid;grid-template-areas:
 											"txta since"
 											"txtb txtb"
 											;
										grid-template-columns:3fr 1fr; margin: auto;max-width: 1200px;}
#txt1{grid-area: txta;padding-left: 5%; padding-right: 5%;}
#txt2{grid-area: txtb;padding-left: 4%;padding-right: 5%;padding-top: 2%;}
#since {grid-area: since; padding-top: 5%;padding-left: 5%;padding-right: 5%;}


/* pagina productos*/


.ptos{padding-left: 5%;padding-right: 5%;}



.tamano_carousel{height: 20rem;width: 20rem;margin: auto;}
.txtprod{font-weight: 300;font-size: 90%}

.carousel_pequeno{ display: flex;flex-direction: column;justify-content: space-between;align-items: center; }

.imgcar{height: 100%;width: 100%;
	img{object-fit: cover; height: 100%;width:100%;}
}





/* contacto*/
#contacto {display: flex;flex-direction: column;justify-content: space-around;padding-left: 2%;font-weight: 300; margin: auto; max-width: 1400px;
	div{padding-left: 2%}
	input:focus{border:solid 2px blue;}
}



.tic {height: 20px;width: 20px; padding-left: 4%;
&:hover{transform: scale(1.2);}
}

#boton{padding-left: 2%;padding-bottom:2%;
	button:hover {transform: scale(1.5)}
}

.separacion {display: flex;flex-direction: row;justify-content: space-between;}
.sino {ul{list-style:none;}
		a{text-decoration: none}
		img{max-width: 20px;max-height: 20px}
	}




/*mayoristas*/

#mayoristas{padding-bottom: 5%;display: flex;flex-direction: row;justify-content: space-between; align-items: baseline;margin: auto;max-width: 1400px; }
 #txtmayoristas{padding-right: 5%;padding-left: 5%;}
 #telmayoristas{padding:.5%; border:grey solid 2px;}

 /* 404*/
 
 
 .pag404{div {padding-bottom: 1.5rem;padding-top:1.5rem}
article{font-weight: 300;}
}
