/*background*/
#background {background-color: #ffffff;	background-image: url("https://www.transparenttextures.com/patterns/cloth-alike.png");font-family: 'Roboto', sans-serif ;font-size: 120%;background-color: #fff;}
#logo {height: 80%;width: 100%; min-height: 80px;}


/*pag ppal*/


	
/*pantallas grandes*/
@media only screen and (min-width:1407px){
	.carousel_home{max-height: 500px;max-width: 500px;}
	.imgcar{height: 100%;width: 100%;
		img{object-fit: cover; height: 100%;width:100%;}}
	.verticales{ display: flex;flex-direction: row;margin:0 auto; justify-content: space-around;}
	.vertical1{display: flex;flex-direction: column;justify-content: space-around;max-width: 180px; margin: 0 auto ;
		img{margin: auto 15px;max-width: 160px;max-height: 160px;&:hover{transform: scale(1.2);}}}
	.vertical2{display: flex;flex-direction: column;justify-content: space-around;max-width: 180px; margin: 0 auto ;
		img{margin: auto 15px;max-width: 160px;max-height: 160px;&:hover{transform: scale(1.2);}}}
	.vertical3{display: flex;flex-direction: column;justify-content: space-around;max-width: 180px; margin: 0 auto ;
		img{margin: auto 15px;max-width: 160px;max-height: 160px;&:hover{transform: scale(1.2);}}}	
}
/*pantallas medianas*/
@media screen and (min-width:1200px) and (max-width:1407px){
	.carousel_home{max-height: 500px;max-width: 500px;}
	.imgcar{height: 100%;width: 100%;
		img{object-fit: cover; height: 100%;width:100%;}}
	.verticales{ display: flex;flex-direction: row;margin:0 auto; justify-content: space-around;}
	.vertical1{display: flex;flex-direction: column;justify-content: space-around;max-width: 180px; margin: 0 auto ;
		img{margin: auto 15px;max-width: 160px;max-height: 160px;&:hover{transform: scale(1.2);}}}
	.vertical2{display: flex;flex-direction: column;justify-content: space-around;max-width: 180px; margin: 0 auto ;
		img{margin: auto 15px;max-width: 160px;max-height: 160px;&:hover{transform: scale(1.2);}}}
	.vertical3{display:none};
}
/*pantallas  chicas1*/
@media screen and (min-width:1034px) and (max-width:1200px){
	.carousel_home{max-height: 500px;max-width: 500px;}
	.imgcar{height: 100%;width: 100%;
		img{object-fit: cover; height: 100%;width:100%;}}
	.veticales{display: none;}
	.vertical1{display: flex;flex-direction: column;justify-content: space-around;max-width: 180px; margin: 0 auto ;
		img{margin: auto 15px;max-width: 160px;max-height: 160px;&:hover{transform: scale(1.2);}}}
	.vertical2{display:none};
	.vertical3{display:none};
	#quehacemos{margin:0 auto;text-align: justify;}
}

/*pantallas chicas2*/
@media screen and (min-width:991px) and (max-width:1033px){
	.carousel_home{max-height: 500px;max-width: 500px;}
	.imgcar{height: 100%;width: 100%;
		img{object-fit: cover; height: 100%;width:100%;}}
	.verticales{display: none;}
	.vertical1{display:none}
	.vertical2{display:none}
	.vertical3{display:none}
}

/*pantallas chicas3*/
@media only screen and (max-width:991px){
	#quehacemos{margin:0 auto;text-align: justify;}
	.carousel_home{max-height: 400px;max-width: 400px;margin:0 auto;}
	.imgcar{height: 100%;width: 100%;
		img{object-fit: cover; height: 100%;width:100%;}}
	.verticales{display: none;}
	.vertical1{display:none}
	.vertical2{display:none}
	.vertical3{display:none}
}

#quehacemos {padding: 1%;}


.novedades{padding-top: 10%;padding-bottom: 5%;;
	p{ font-weight: 300;}
	.nov{border-right: solid grey 2px}
}

/* menu, footer y titulos*/
@media only screen and (min-width: 994px){
	.listappal { font-family: 'Roboto', sans-serif;font-size:80%;align-content: center;text-transform: uppercase;background: rgba(171,150,74,0.3); margin-bottom: 2%;
		li{display: inline-block; text-align: center;padding-right: 10px;}
		ul {padding: 0 ;margin: 0 auto;}
		a { text-decoration: none;
			&:hover {color:#8D301C}}}
		}
@media only screen and (max-width: 993px)
	{.listappal { font-family: 'Roboto', sans-serif;font-size:80%;align-content: center;text-transform: uppercase; margin-bottom: 2%;
		li{display: inline-block; text-align: center;padding-right: 10px;}
		ul {padding: 0 ;}
		a { text-decoration: none;
			&:hover {color:#8D301C}}}
	};


.active{color:#8D301C;}

.footer{ font-size: 90%;font-weight:300;border-top: grey solid 2px;padding-top: 2%;padding-right: 2%;padding-left: 2%;grid-area: footer;background: rgba(0,0,0,.2); display: flex;flex-direction: row;justify-content: space-between;position:initial;left:0%;bottom:0%;right:0%;
	ul{list-style:none;}
	li{text-decoration: none;}
	li{padding-top: 2%}
}
.footer_pequeno {font-size: 90%;font-weight:300;border-top: grey solid 2px;padding-top: 2%;padding-right: 2%;padding-left: 2%;grid-area: footer; display: flex;flex-direction: column;justify-content: space-between;background: rgba(0,0,0,.2);
	ul{list-style:none;}
	li{text-decoration: none;}
	li{padding-top: 2%}
}

.whatsapp {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	font-size:30px;
	z-index:100;
  }
  
  .whatsapp-icon {
	margin-top:13px;
  }
@each $redes in fb, ig, whap,{##{$redes} img{max-width: 20px;max-height: 20px};
	
}
#ubi{max-width: 20px;max-height: 20px}

.tarjetas{max-height:4rem;max-width:10rem }


.titulospag {font-family: 'Courgette', cursive;color:#8D301C;font-weight: 500;grid-area:titulospag ;}

.titulos{color: #82680B;font-family: 'Courgette', cursive;color:#8D301C;font-weight: 500;
	h3{ padding: 2%;padding-top: 5%;text-align: center;}}
 

 /* pagina pquienes somos*/
 .cuerpo{display:flex;flex-direction: column;align-items: flex-start;}
 .quienes {display: grid;grid-template-areas:
											 
											 "txta since"
 											"txtb txtb"
 											;
										grid-template-columns:3fr 1fr; margin: auto;max-width: 1200px;}
#txt1{grid-area: txta;padding-left: 5%; padding-right: 5%;}
#txt2{grid-area: txtb;padding-left: 4%;padding-right: 5%;padding-top: 2%;}
#since {grid-area: since; padding-top: 5%;padding-left: 5%;padding-right: 5%;}



/* pagina productos*/


.ptos{padding-left: 5%;padding-right: 5%;
	h1{padding-left: 45px;}
}

.tamano_carousel{height: 20rem;width: 20rem;margin: auto;}
.txtprod{font-weight: 300;font-size: 90%;padding-top: 5%;}

.carousel_pequeno{ display: flex;flex-direction: column;justify-content: space-between;align-items: center; 
	h1{text-align: center;}
}

.imgcar{height: 100%;width: 100%;
	img{object-fit: cover; height: 100%;width:100%;}
}

/* contacto*/


#contacto {display: flex;flex-direction: column;justify-content: space-around;padding-left: 2%;font-weight: 300; margin-left: 5%; align-items: flex-start;
	h1{padding-left: 0;}
	input:focus{border:solid 2px blue;}
}



.tic {height: 20px;width: 20px; padding-left: 4%;
	&:hover{transform: scale(1.1);}
}

#boton{padding-left: 2%;padding-bottom:2%;
	button:hover {transform: scale(1.1);};
	button {background-color:#8D301C ;}
}

.separacion {display: flex;flex-direction: row;justify-content: space-between;
}
@media only screen and (max-width: 1053px){.sino{display: none;}}
@media only screen and (min-width: 1054px){
.sino {position: absolute;right: 5%; 
	ul{list-style:none;}
		a{text-decoration: none}
		img{max-width: 20px;max-height: 20px}
	}
}
.descripcion{padding: 0;}

/*mayoristas*/

#mayoristas{padding-bottom: 5%;display: flex;flex-direction: row;justify-content: space-between; align-items: baseline;margin: auto;max-width: 1400px; }
 #txtmayoristas{padding-right: 5%;padding-left: 5%;}
 #telmayoristas{padding:.5%; border:grey solid 2px;}

 /* 404*/
 .pag404{div {padding-bottom: 1.5rem;padding-top:1.5rem}
article{font-weight: 300;}
}

/* faq y ayuda*/

@media only screen and (min-width: 993px)
	{h1{margin: auto;padding: 2%;};.texto{margin:auto;display: flex;flex-direction: row;justify-content: space-around;
		div{padding: 2%;}
		.st{border-right: grey 2px solid;};	
		p{font-weight: 300;}}}


	@media only screen and (max-width: 993px)
	{.texto{margin:auto;display: flex;flex-direction: column;justify-content: space-around;
		div{padding: 2%;};
		p{font-weight: 300;}}}
		.titpreg{padding-left: 2%;}