#background {
  background: url("fondo ppal.png");
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 120%;
}

#logo {
  height: 80%;
  width: 100%;
}

.listappal {
  font-family: 'Roboto', sans-serif;
  font-size: 80%;
  -ms-flex-line-pack: center;
      align-content: center;
  text-transform: uppercase;
}

.listappal li {
  display: inline-block;
  text-align: center;
  padding-right: 10px;
}

.listappal ul {
  padding: 0;
}

.listappal a {
  text-decoration: none;
}

.listappal a:hover {
  color: #9B6406;
}

.active {
  color: #AB964A;
}

.vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vertical img {
  padding-left: 10%;
  padding-bottom: 5%;
  max-height: 150px;
}

.vertical img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#quehacemos {
  padding: 5%;
}

.novedades {
  padding-top: 10%;
  padding-bottom: 5%;
}

.novedades p {
  font-weight: 300;
}

.novedades .nov {
  border-right: solid grey 2px;
}

.footer {
  font-size: 90%;
  font-weight: 300;
  border-top: grey solid 2px;
  padding-top: 2%;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer ul {
  list-style: none;
}

.footer li {
  text-decoration: none;
}

.footer li {
  padding-top: 2%;
}

#fb img {
  max-width: 20px;
  max-height: 20px;
}

#ig img {
  max-width: 20px;
  max-height: 20px;
}

#whap img {
  max-width: 20px;
  max-height: 20px;
}

#ubi {
  max-width: 20px;
  max-height: 20px;
}

.tarjetas {
  max-height: 4rem;
  max-width: 10rem;
}

.titulospag {
  padding: 0PX 0PX 6% 0px;
  background-image: url("fondo titulos.jpg");
  color: #fff;
  font-family: 'Courgette', cursive;
  font-size: 300%;
  background-repeat: repeat-x;
  height: auto;
}

.titulos {
  color: #82680B;
}

.titulos h3 {
  padding: 2%;
  padding-top: 5%;
  text-align: center;
}

/* pagina pquienes somos*/
.quienes {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "txta since" "txtb txtb";
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

#txt1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: txta;
  padding-left: 5%;
  padding-right: 5%;
}

#txt2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: txtb;
  padding-left: 4%;
  padding-right: 5%;
  padding-top: 2%;
}

#since {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: since;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

/* pagina productos*/
.ptos {
  padding-left: 5%;
  padding-right: 5%;
}

.tamano_carousel {
  height: 20rem;
  width: 20rem;
  margin: auto;
}

.txtprod {
  font-weight: 300;
  font-size: 90%;
}

.carousel_pequeno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imgcar {
  height: 100%;
  width: 100%;
}

.imgcar img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

/* contacto*/
#contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 2%;
  font-weight: 300;
}

#contacto div {
  padding-left: 2%;
}

#contacto input:focus {
  border: solid 2px blue;
}

.tic {
  height: 20px;
  width: 20px;
  padding-left: 4%;
}

.tic:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#boton {
  padding-left: 2%;
  padding-bottom: 2%;
}

#boton button:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.separacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sino ul {
  list-style: none;
}

.sino a {
  text-decoration: none;
}

.sino img {
  max-width: 20px;
  max-height: 20px;
}

/*mayoristas*/
#mayoristas {
  padding-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#txtmayoristas {
  padding-right: 5%;
  padding-left: 5%;
}

#telmayoristas {
  padding: .5%;
  border: grey solid 2px;
}

/* 404*/
.pag404 div {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.pag404 article {
  font-weight: 300;
}
/*# sourceMappingURL=sass.css.map */